<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokemon</h1>
    <nav>
        <a href = "/pokemon">RETURN TO POKEMON PAGE</a>
    </nav>
    <ul>
    <h2><%=pokemon.name %></h2> <br/>
    <img class = "image" src = <%=pokemon.img %> >
    <form action="/pokemon/<%=pokemon.id%>?_method=DELETE" method="POST">
        <input type = "submit" value = "DELETE">
    </form>
    
    <form action="/pokemon/<%=pokemon.id%>/edit" method="GET">
        <input type = "submit" value = 'EDIT'>
    </form>
    
    </ul>
</body>
</html>